@import "tailwindcss";

@theme {
  --color-navy: #0a1f44;
  --color-navylight: #12294f;
  --color-cyan: #00b4d8;
  --color-graybg: #f4f7fa;
  --color-hbv: #d4a017;
  --color-hcv: #d6336c;
  --color-hiv: #7048e8;
  --color-flu: #12b5a5;
  --color-cchf: #e8590c;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}
